.logo {
    height: 70%;
    margin-left: 10px;
}

.appBar {
    position: sticky !important;
    display: grid !important;
    grid-template-columns: 10% 20% 40% 25% 5%;
    grid-template-rows: 100%;
    align-items: center;
    height: 7vh;
    border-bottom: 3px solid grey;
    width: 100%;
}